/* Global Configs */
body
{
    background-color: black;
    font-family: Verdana;
    color: white;
    text-align: center;
}

/* Header Configs */
header
{
    font-weight: normal;
    font-size: 50px;
}

.header-text
{
    font-weight: normal;
}

.header-link
{
    color: aquamarine;
    font-size: 16px;
}

/* Body Section Configs */
.middle-section
{
    font-weight: 300;
    font-size: 42px;
    text-align: center;
}

h2
{
    font-size: 21px;
    color: gray;
}